{erl_opts, [debug_info, {src_dirs, ["test"]}]}.
{lfe_first_files, []}.
{deps_dir, ["deps"]}.
{eunit_compile_opts, [
   {src_dirs, ["test", "src"]}
  ]}.
{deps, [
   {lfe, ".*", {git, "git://github.com/rvirding/lfe.git", "develop"}},
   {'lfe-utils', ".*", {git, "https://github.com/lfe/lfe-utils.git"}},
   {lfeunit, ".*", {git, "git://github.com/lfe/lfeunit.git"}},
   {erlcloud, ".*", {git, "git://github.com/gleber/erlcloud.git"}},
   {lferax, ".*", {git, "git://github.com/lfe/lfe-rackspace.git"}},
   {yaws, ".*", {git, "git://github.com/klacke/yaws.git"}}
  ]}.
